language: python
python:
- '2.6'
- '2.7'
- '3.2'
- '3.3'
- '3.4'
- '3.5'
before_install:
    - pip install pytest pytest-cov
install: 
    - pip install -r requirements.txt
    - pip install -e .
script: py.test ./tests/test_*.py --cov
env:
  global:
  - secure: NSKvQBVJIeX3UAvXpPVq09cWsANtA7ewkvKTk37XppTUVZQ8NtQVpAaev9kvU8uOZzSUmy5XCnmaViiHoZJARVRdRIiwcrWbTbM7ynh8ajWQP8x8WlMggCBYFRf6EHjhKljtzm772TtTO1Lncf5eiY1Ykbme5h4SjZNj7a80gU2S2E3dcZwmJ/ZhsmkemXBlASzY7ROPT5ThQkS+DrzNI/PQVXlYc4e/wSCXoo0quA+TmOPSVrTIIxLfZaxLaPiWNeMOlwxZKqeM3KzlSpAjiiUJYVR3YtDjX3TcALIjfTe93BgtKmexBjrZFz6kKlIOHwbmjLgmBWxEVG9zv7B8iSgBxZlmCXs31tuqpacuxrGh3OYA+736LxyOXjzeNF0VywBe8KNwZibJbDZ+HtQxrehUOlA+UlCd2BmrhCLg+kwnuiVgEPkkbHbcNErp5bw5em/EOvS38dSL8AaucSpJg/pLcP3jZkljIgYNOCWWA5T0bnFV8hoaF3sFQWgPzN5gNOcjR8JGop9fOyN59FjIH6sLscfywUMR5mLarBiiV3+C6YD5vck0rIaZqneJQR09yRj42Aq+qHr7d3q59IAWPJT+tMNOCtc/97PTsR1KjyddNO5rprZg2ZYGjs+ooiY7LN40MIf6v37mj84NVnq7FqtkBKvSxsvsbLKwGu597EY=
  - secure: bx/Unyi8KkEUzzkDVmN/ti1N3mYnYwuYfIsE7GAjdO49JdahAggUbOxE0e2WU3fifhdFnxZBCgEXZe3Ev4zG73vTzzdYsErcsZnQsS9voKx2GddhBWUIsORyITJkCUKh3IDagSXIAWkPXxN2HEjXVjp6+Ze03OXtMu03HtiACIdnognpjOEIyY8lqMauwyexKVSKE+uV1EmNhUvNWF5q2DB27Mam8LNe1IAjnEoiz+lfjkJXe7wWBSYWYo04QGMx2tePS/XVXoCSBwyaCaRNCEMng0hv6hGztokMYvIj8cPJaMzNahllulhVscH5tOtROy7r/e8ZK6C7Ss2kUICzQGrgPJgl/y4LbP8Q5iyZFasat9UG9j2CqK18hxqShMUI2DZ9Xo9MFBmZIEgaWebYxS4Zt6XQmypvFFcytO7EFJG4iASW2vcDOKbXIhgkCOZycixQb1h6GO0gstVNctCK8bl3Msr15/Y7YpPWNDmersBrg4AQin/kuH9JhE1FpouAokzIG7vE4j0XVyi8167WejAPo6BqCTjISy7NVn85+u9XQoVtvEC3/mGAtoBSFDrWR22/B0RtQLAis1H4fgmnom3KxE9JMstkTZdzEm9Awu1Xbt0wgieKuZgmpnAQ6O6KAr+fakOM28m/n7H6yuGb0l4W7X504z+AcnAlFTb1y2M=
